{% extends 'home/wrapper2.html' %}

{% block content %}
    <div class="content">
        <p>
            <u>Album:</u>
            {{ description3.album }}
        </p>
        <p>
            <u>Description:</u>
            {{ description3.description }}
        </p>
        <p>
            <u>Song Text:</u>
            {{ description3.song_text }}
        </p>

        <p></p><br />
        <a href="/home" class="btn btn-info btn-lg">BACK</a>
        <p></p><br />
        <a href="/" class="btn btn-primary btn-lg">HOME</a>

    </div>
{% endblock %}